{% extends "layout.html" %} 

{% block body %}
<div class="containerarticolo">
    <div class="descrizioni">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin quam nec finibus dapibus. Donec ac mattis odio. Cras quis quam ut massa egestas luctus nec at quam. Duis augue eros, fermentum cursus ipsum eget, sollicitudin placerat ante. Nam consectetur leo erat, quis pellentesque lectus efficitur eget. Ut rutrum condimentum nulla, eget ultrices turpis feugiat at. Aliquam luctus dictum blandit. Curabitur sed dapibus ipsum, sed ullamcorper libero. Mauris a iaculis lacus. Sed nunc velit, efficitur eu nulla ac, cursus ullamcorper tortor. Nam ut mollis massa, id dictum ante. In hac habitasse platea dictumst. Sed iaculis at leo quis fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris in eros ac ligula aliquet auctor.
    </div>
    
    <div class="tuttoslider">
        <div class="slider-container">
            <span id="slider-image-1"></span>
            <span id="slider-image-2"></span>
            <span id="slider-image-3"></span>
            <span id="slider-image-4"></span>
            <span id="slider-image-5"></span>
    
            <div class="image-container">
                <img src="../static/313337278_5894310010600892_1257350990272524773_n.jpg" class="slider-image" />
                <img src="../static/313337278_5894310010600892_1257350990272524773_n.jpg" class="slider-image" />
                <img src="../static/313337278_5894310010600892_1257350990272524773_n.jpg" class="slider-image" />
                <img src="../static/313337278_5894310010600892_1257350990272524773_n.jpg" class="slider-image" />
                <img src="../static/313337278_5894310010600892_1257350990272524773_n.jpg" class="slider-image" />
            </div>
            <div class="button-container">
                <a href="#slider-image-1" class="slider-change"></a>
                <a href="#slider-image-2" class="slider-change"></a>
                <a href="#slider-image-3" class="slider-change"></a>
                <a href="#slider-image-4" class="slider-change"></a>
                <a href="#slider-image-5" class="slider-change"></a>
    
            </div>
        </div>
    </div>
</div>



{% endblock %}