{% extends "layout.html" %} 

{% block body %}
<div class="containerarticolo">
    <div>
        <div class="social">
            <a href="https://www.instagram.com/meg_bari3/">
                <img src="../static/734394_online_instagram_social_media.png" class="logo"/>
            </a>
            <a href="https://www.facebook.com/meg.bari">
                <img src="../static/734399_facebook_social_online_media.png" class="logo">
            </a>
            <a href="">
                <img src="../static/"class="logo" >
            </a>
        </div>
        <div class="posizione">
            <h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d631.7968708069346!2d16.851415492398633!3d41.126899332651156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1347e892fc0c01b1%3A0xa11cf21d38f15ae3!2sParrocchia%20di%20Santa%20Maria%20del%20Monte%20Carmelo!5e0!3m2!1sit!2sit!4v1698502071870!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </h1>



        </div>
    </div>
    
</div>



{% endblock %}