{% extends "layout.html" %} 

{% block body %}
<div class="containerarticolo">
    <div>
        <div class="social">
            <a href="">
                <img src="../static/logo-ig-png-32457.png" class="logo"/>
            </a>
            <a href="">
                <img src="../static/logo-facebookpng-32255.png" class="logo">
            </a>
            <a href="">
                <img src="../static/"class="logo" >
            </a>
        </div>
        <div class="posizione">
            <h1>

            </h1>



        </div>
    </div>
    
</div>



{% endblock %}