<!DOCTYPE html>
<html lang="en">
   <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/styles.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>MEG BARI</title>
</head>
<body>
   
<div class="container">
   <header class="header">
      <div class="titolo">
         <img class="logo" src="../static/Immagine WhatsApp 2023-10-22 ore 12.42.32_e5ff09ec.jpg"  alt="logo">
         <form action="/">
            <button>MEG BARI</button>
         </form>
         <p>Vieni a conoscerci!</p>
      </div>
    
   </header>

   <nav class = "nav">
      <form action="/emmaus">
         <button class="bottoni">EMMAUS</button>
      </form>   
      <form action="/rn">
         <button class="bottoni">RN</button>
      </form>   
      <form action="/c14">
         <button class="bottoni">C14</button>
      </form>   
      <form action="/pret">
         <button class="bottoni">PRE-T</button>
      </form>
      <form action="/info">
         <button class="bottoni">INFO</button>
      </form>
   </nav>

</div>
      
   {% block body %}{% endblock %}
</body>


<footer class = "footer">
   VIENI A TROVARCI!
</footer>

</html>